.content.blog
  .container
    .row
      .span8
        .posts
          = render 'nav'
          - if @conversation.is_trashed?(current_user)
            = link_to untrash_cabinet_mailbox_message_path(@conversation), class: :button, method: :post do
              = t(:'mailbox.untrash_conver')
          - else
            = link_to trash_cabinet_mailbox_message_path(@conversation), class: :button, method: :delete do
              %i.icon-trash
              = t(:'mailbox.trash_conver')
          .comments.well
            .title
              %h4= @conversation.subject
              %ul.comment-list
                - @conversation.messages.each do |message|
                  %li.comment
                    .pull-left
                      - if message.sender.role == 'Admin' || message.sender.role == 'Director' || message.sender.role == 'Manager'
                        = image_tag 'icons/manager-avatar.png', :class => 'avatar'
                      - elsif message.sender.role == 'Client'
                        = image_tag 'icons/customer-avatar.png', :class => 'avatar'
                    .comment-author= message.sender
                    .cmeta
                      #{l message.created_at, :format => :long}
                      (#{time_ago_in_words(message.created_at)} #{t(:'most_common.ago')})
                    %p= message.body
                    - if message.attachment.url
                      .attachment
                        = link_to message.attachment_identifier, message.attachment.url
          #reply.respond.well
            .title
              %h4 Написать ответ
            = simple_form_for [:cabinet, @message], :html => { :class => 'form-horizontal' } do |f|
              = f.input :conversation_id, as: :hidden
              = f.input :body, as: :text, label: t(:'mailbox.reply'), :input_html => { :rows => 8, :class => 'span6' }
              / = f.input :attachment, as: :file, :label => t(:'mailbox.attachment')
              .form-actions
                = f.button :submit, t(:'mailbox.send_message')