.page-head
  .container
    .row
      .span12
        %h2= t(:'devise.login.title')
        %h4= t(:'devise.login.description')
.content
  .container
    .row
      .span6
        .formy.well
          %h4.title= t(:'devise.login.form_title')
          .form
            = form_for resource, :as => resource_name, :url => session_path(resource_name), :html => { :class => 'form-horizontal'} do |f|
              .control-group
                = f.label :email, :class => 'control-label'
                .controls
                  = f.email_field :email, :autofocus => true, :class => 'input-large'
              .control-group
                = f.label :password, :class => 'control-label'
                .controls
                  = f.password_field :password, :class => 'input-large'
              .control-group
                .controls
                  - if devise_mapping.rememberable?
                    %label.checkbox
                      = f.check_box :remember_me
                      = t(:'devise.login.remember_me')
                  = f.submit t(:'devise.login.submit'), :class => 'btn'
          
      .span6
        %h4.title= t(:'devise.tools.title')
        = render "users/shared/links"