.container
  %table
    %tr
      %th Name
      %th Description
      %th Ancestry
      %th Position
    - for cat in article_categories
      %tr
        %td= cat.name
        %td= cat.description
        %td= cat.permalink
        %td= cat.position
        %td= link_to 'Show', cat
        %td= link_to 'Edit', edit_article_category_path(cat)
        %td= link_to 'Destroy', cat, :confirm => 'Are you sure?', :method => :delete

  %p= link_to "New Article/Category", new_article_category_path
