.page-head
  .container
    .row
      .span12
        %h2= article_category.name
        %h4= article_category.description.truncate(110)
.container
  .content.process
    .row
      - article_category.pages.each_with_index do |page, index|
        .span4
          .onethree-left
            .process-meta
              %span= index + 1
          .onethree-right
            %h4= page.title
            %p= page.body.html_safe.truncate(150)
            %hr/
        - if ((index+1)%3).zero?
          .clearfix

    .row
      .span12
        .posts
          .meta
            - if can? :edit, Article::Category
              = link_to edit_category_path(article_category) do
                %i.icon-pencil
                Edit
              &nbsp;
            - if can? :destroy, Article::Category 
              = link_to category_path(article_category), :confirm => 'Are you sure?', :method => :delete do
                %i.icon-trash
                Delete
