.page-head
  .container
    .row
      .span12
        
    .row    
      .span2
        = image_tag article_category.icon_url(:medium)
      .span10
        %h1= article_category.name
        %p= article_category.description.html_safe
.container
  .content.process
    .row
      - if article_category.children.present?
        - article_category.children.each_with_index do |sub, index|
          .span4.sub-page-block
            .onethree-left
              = image_tag article_category.icon_url(:small)
            .onethree-right
              %h4= sub.name
              %p= sub.description.truncate(150)
              %hr/
              - for page in sub.pages do
                %h6
                  %i.icon-double-angle-right.color
                  &nbsp;&nbsp;
                  = link_to page_path(page) do
                    = page.title
          - if ((index+1)%3).zero?
            .clearfix
    .row
      - if article_category.pages.present?
        - article_category.pages.each_with_index do |page, index|
          .span4.sub-page-block
            .onethree-left
              = image_tag page.icon_url(:small)
            .onethree-right
              %h4= link_to page.title, page_path(page)
              %p= page.entry.truncate(150)
          - if ((index+1)%3).zero?
            .clearfix
    - if user_signed_in?
      .row
        .span12.blog
          .posts
            .meta
              - if can? :edit, Article::Category
                = link_to edit_category_path(article_category) do
                  %i.icon-pencil
                  Edit
                &nbsp;
              - if can? :destroy, Article::Category 
                = link_to category_path(article_category), :confirm => 'Are you sure?', :method => :delete do
                  %i.icon-trash
                  Delete