.page-head
  .container
    %h2
      = article_page.title
      - if article_page.category.present?
        %span.category
          |
          = link_to article_page.category.name, category_path(article_page.category)
    .row
      .span12
        %p.entry
          %span.page-icon= image_tag article_page.icon_url(:medium) 
          = article_page.entry.html_safe

.content.blog
  .container
    .row
      .span12
        .posts
          .entry
            = article_page.body.html_safe
            - if article_page.slogan.present?
              %p.slogan.test= article_page.slogan
          .meta
            - unless article_page.is_static?
              %i.icon-folder-open
                = link_to article_page.category,  category_path(article_page.category)
            .pull-right
              %p.phones
                %i.icon-phone
                = SiteSettings["contacts.phones"]
