- set_meta_tags :title => (article_page.meta.present? ? article_page.meta.title : article_page.title), :description => (article_page.meta.present? ? article_page.meta.description : ''), :keywords => (article_page.meta.present? ? article_page.meta.keywords : '')
- if article_page.meta.present? && article_page.meta.use_article_title?
  - set_meta_tags :title => article_page.title

.page-head
  .container
    %h2
      %span.page-icon= image_tag article_page.icon_url(:small) 
      = article_page.title
      - if article_page.category.present?
        %span.category
          |
          = link_to article_page.category.name, category_path(article_page.category)
    .row
      .span12
        %p.entry
          = article_page.entry.html_safe

.content.blog
  .container
    .row
      - unless article_page.is_static?
        .span12
          .row
            .span12
              // use .span9 abowe when using commented code below
              .posts
                = render 'body'
            / .span3
            /   .sidebar
            /     .widget
            /       %h4= t(:'article.page.recent')
            /       %ul
            /         - article_page.category.pages.each do |recent|
            /           - unless recent == article_page
            /             %li= link_to recent.title, page_path(recent)
          = render 'meta'
      - else
        .span12
          .posts
            = render 'body'
            = render 'meta'
        
