/ Clients starts
.container
  .row
    .span12
      / Clients images
      .clients
        = image_tag "img/clients/amazon_b.png"
        = image_tag "img/clients/google_b.png"
        = image_tag "img/clients/twitter_b.png"
        = image_tag "img/clients/facebook_b.png"
        = image_tag "img/clients/skype_b.png"
        = image_tag "img/clients/youtube_b.png"
/ Clients ends