/ Footer starts
%footer
  .container
    .row
      .span12
        .row
          .span3
            .widget
              %h5= t(:'footer.contacts')
              %hr/
              %p Praesent ultricies enim ac ipsum aliquet . Nullam justo nunc, dignissim at convallis posuere, sodales eu orci.
              %hr/
              %i.icon-home
              \  123, Some Area. Los Angeles, CA, 54321.
              %hr/
              %i.icon-phone
              \  +239-3823-3434
              %hr/
              %i.icon-envelope-alt
              \ 
              %a{:href => "mailto:office@yartrans.ua"} office@yartrans.ua
              %hr/
              .social
                %a{:href => "#"}
                  %i.icon-facebook.facebook
                %a{:href => "#"}
                  %i.icon-twitter.twitter
                %a{:href => "#"}
                  %i.icon-linkedin.linkedin
                %a{:href => "#"}
                  %i.icon-google-plus.google-plus
          - root_article_categories.each do |c|
            .span3
              .widget
                %h5= link_to c.name, category_path(c)
                %hr/
                %ul
                  - c.children.each do |child|
                    %li{:style => 'font-weight: bold;'}
                      = link_to child.name, category_path(child)
                    - for p in child.pages do
                      %p
                        %i.icon-angle-right
                        &nbsp;
                        = link_to p.title, page_path(p)
                    %hr/
                  - for p in c.pages do
                    %li= link_to p.title, page_path(p)
                / .two-col
                /   .col-left
                /       111
                /   .col-right
                /     %ul
                /       %li
                /         %a{:href => "#"} Vivamus
                /   .clearfix
        %hr/
        / Copyright info
        %p.copy
          Copyright © #{Time.now.year} |
          = link_to root_url do
            YARTRANS
          \-
          = link_to root_url do
            Home
          - static_article_pages.each do |static|
            |
            = link_to static.title, page_path(static)
          %span.pull-right
            - if user_signed_in?
              = t(:'cabinet.hello')
              = link_to cabinet_path do
                #{current_user.email}
              (#{t(:"user.roles.#{current_user.role.downcase}")})

              |
              - if current_user.role? :client
                = link_to cabinet_path do
                  = t(:'cabinet.my_cabinet')
              - else
                = link_to admin_path do
                  = t(:'cabinet.admin_panel')
              |
              = link_to destroy_user_session_path, :method => :delete do
                = t(:'cabinet.logout')
            - else
              = link_to new_user_session_path do
                = t(:'cabinet.login')
    .clearfix
/ Footer ends
/ Scroll to top
%span.totop
  %a{:href => "#"}
    %i.icon-chevron-up