/ Recent posts carousel starts
.recent-posts
  .container
    .row
      .span12
        %h4.title Recent Posts
        .carousel_nav.pull-left
          / Carousel navigation
          %a#car_prev.prev{:href => "#"}
            %i.icon-chevron-left
          %a#car_next.next{:href => "#"}
            %i.icon-chevron-right
        .clearfix
        %ul.rps-carousel
          / Recent posts #1
          / Each carousel should be enclosed inside "li" tag
          %li
            .rp-item
              / Image.
              .rp-image
                %a{:href => "#"}
                  = image_tag "img/photos/s1.jpg"
              .rp-details
                / Title and para
                %h5
                  %a{:href => "#"} Vitae molestie
                %p Travel far away to a space station.
          / Recent posts #2
          %li
            .rp-item
              .rp-image
                %a{:href => "#"}
                  = image_tag "img/photos/s2.jpg"
              .rp-details
                %h5
                  %a{:href => "#"} Sed diam nisi
                %p Travel far away to a space station.
          / Recent posts #3
          %li
            .rp-item
              .rp-image
                %a{:href => "#"}
                  = image_tag "img/photos/s3.jpg"
              .rp-details
                %h5
                  %a{:href => "#"} Nisi vitaetie
                %p Travel far away to a space station.
          / Recent posts #4
          %li
            .rp-item
              .rp-image
                %a{:href => "#"}
                  = image_tag "img/photos/s4.jpg"
              .rp-details
                %h5
                  %a{:href => "#"} Diam nisivitae
                %p Travel far away to a space station.
          / Recent posts #5
          %li
            .rp-item
              .rp-image
                %a{:href => "#"}
                  = image_tag "img/photos/s5.jpg"
              .rp-details
                %h5
                  %a{:href => "#"} Diam nisivitae
                %p Travel far away to a space station.
          / Recent posts #6
          %li
            .rp-item
              .rp-image
                %a{:href => "#"}
                  = image_tag "img/photos/s6.jpg"
              .rp-details
                %h5
                  %a{:href => "#"} Diam nisivitae
                %p Travel far away to a space station.
          / Recent posts #7
          %li
            .rp-item
              .rp-image
                %a{:href => "#"}
                  = image_tag "img/photos/s7.jpg"
              .rp-details
                %h5
                  %a{:href => "#"} Diam nisivitae
                %p Travel far away to a space station.
          / Recent posts #8
          %li
            .rp-item
              .rp-image
                %a{:href => "#"}
                  = image_tag "img/photos/s8.jpg"
              .rp-details
                %h5
                  %a{:href => "#"} Diam nisivitae
                %p Travel far away to a space station.
/ Recent Posts ends