= render :partial => 'shared/flexslider'
= render :partial => 'shared/newsletter'
= render :partial => 'shared/service'
= render :partial => 'shared/recent_posts_carusel'
= render :partial => 'shared/cta'
= render :partial => 'shared/clients'




