= simple_form_for [:cabinet, release_app], :html => { :class => 'form-inline' }  do |f|
	= render :partial => 'shared/form_errors', :locals => { :object => release_app }
	.row
		.span4
			= f.input :release_date
		.span4
			= f.input :release_time
	.row
		.span4
			= f.input :recipient, :input_html => { :rows => 2, :class => 'span4' }
		.span4
			= f.input :vehicle, :input_html => { :rows => 2, :class => 'span4' }
		.span4
			= f.input :notes, :input_html => { :rows => 2, :class => 'span4' }
	%hr/
	.row
		.span12		
			%h4= t(:'applications.release.items.title')
			%hr/
			#release_items
				= f.simple_fields_for :release_items do |item|
					= render 'release_item_fields', :f => item
				.links
					= link_to_add_association f, :release_items, :render_options => {:wrapper => 'bootstrap' } do
						%i.icon-plus-sign
						= t(:'applications.release.items.add_item')
	.form-actions	
		= button_tag :submit, :class => 'btn btn-large' do
			= t(:'applications.release.new.submit')