.content
	.container
		.row
			.span12
				%h4= t(:'applications.release.index.title')
				%hr/
				.button
					= link_to new_cabinet_release_app_path do
						= t(:'applications.release.index.create')
				%hr/
				- unless release_apps.blank?
					%table.table.table-condensed.table-hover
						%thead
							%tr
								%th #
								%th= t(:'applications.release.index.created_at')
								%th= t(:'applications.release.index.adm_date')
								%th= t(:'applications.release.index.adm_time')
								%th= t(:'applications.release.index.items_count')
								%th= t(:'applications.release.index.vehicle')
								%th= t(:'applications.release.index.actions')
						%tbody
							- release_apps.each do |app|
								%tr
									%td= app.id
									%td= l app.created_at, :format => :short
									%td
										- if app.file.blank?
											= l app.release_date, :format => :short
										- else
											= link_to app.file_url do
												%i.icon-download
												= t(:'applications.admission.index.file')
									%td
										- if app.file.blank?
											= app.release_time.strftime("%H:%M") 
										- else
											= link_to app.file_url do
												%i.icon-download
												= t(:'applications.admission.index.file')
									%td
										- if app.file.blank?
											= app.release_items.count
										- else
											= link_to app.file_url do
												%i.icon-download
												= t(:'applications.admission.index.file')
									%td
										- if app.file.blank?
											= app.vehicle
										- else
											\---
									%td
										- if can? [:edit, :destroy], ReleaseApp
											= link_to cabinet_release_app_path(app), :method => :delete, :confirm => '???' do
												%i.icon-trash
												= t(:'actions.delete')
											&nbsp;
											= link_to edit_cabinet_release_app_path(app) do
												%i.icon-pencil
												= t(:'actions.edit')
										- else
											= link_to '#', :class => 'link-tooltip', :title => t(:"applications.admission.tooltips.not_permitted") do
												%i.icon-lock
				- else
					= t(:'applications.release.index.no_apps_yet')
				- if release_apps.count > 10
					.button
						= link_to new_cabinet_release_app_path do
							= t(:'applications.release.index.create')




