.content
	.container
		.row
			.span8
				%h4
					= t(:'applications.release.show.title')
					\##{release_app.id}
				%br/
				%table.table.table-condensed.table-hover
					%tbody
						%tr
							%th= t(:'applications.release.show.id')
							%td #{release_app.id}
						%tr
							%th= t(:'applications.release.index.created_at')
							%td
								= l release_app.created_at, :format => :short
								(#{time_ago_in_words release_app.created_at} #{t(:'most_common.ago')})
						%tr
							%th= t(:'applications.release.index.adm_date')
							%td= l release_app.release_date, :format => :long
						%tr
							%th= t(:'applications.release.index.adm_time')
							%td= release_app.release_time.strftime("%H:%M")
						%tr
							%th= t(:'applications.release.show.notes')
							%td= release_app.notes
						%tr
							%th= t(:'applications.release.show.vehicle')
							%td= release_app.vehicle
						%tr
							%th= t(:'applications.release.show.recipient')
							%td= release_app.recipient
				%hr/
				%b
					= t(:'applications.release.show.items_count')
					\:
				= release_app.release_items.count
			.span4
				.sidebar
					.widget
						%h4= t(:'cabinet.my_release_apps')
						%ul
							- current_user.release_apps.each do |app|
								%li= link_to (l release_app.release_date, :format => :long) + " (##{app.id})", cabinet_release_app_path(app), :style => ('font-weight:bold;' if app == release_app)