= simple_form_for [:cabinet, admission_app], :html => { :class => 'form-inline' }  do |f|
	= render :partial => 'shared/form_errors', :locals => { :object => admission_app }
	.row
		.span4
			= f.input :admission_date
			= f.input :vehicle, :input_html => { :rows => 3, :class => 'span4' }
		.span5
			= f.input :admission_time
			= f.input :notes, :input_html => { :rows => 3, :class => 'span4' }
		.span3
			- if current_user.staffs.present?
				= f.input :staff_id, :collection => current_user.staffs.collect{|s| [s.name, s.id]}, :input_html => { :class => 'span3' }, :include_blank => "не выбрано", :label => t(:'applications.admission.index.staff')
				%span.help-block
					%i.icon-lightbulb.color
					= t(:'applications.admission.new.staff_help')

	%hr/

	#accordion2.accordion
		.accordion-group
			.accordion-heading
				%a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseOne"}
					%h4
						= t(:'applications.admission.items.title')
			#collapseOne.accordion-body.collapse.in
				.accordion-inner
					#admission_items
						= f.simple_fields_for :admission_items do |item|
							= render 'admission_item_fields', :f => item
						.links
							= link_to_add_association f, :admission_items, :render_options => {:wrapper => 'bootstrap' } do
								%i.icon-plus-sign
								= t(:'applications.admission.items.add_item')

		.accordion-group
			.accordion-heading
				%a.accordion-toggle{"data-parent" => "#accordion2", "data-toggle" => "collapse", :href => "#collapseTwo"}
					%h4
						= t(:'applications.admission.new.file_section')
			#collapseTwo.accordion-body.collapse
				.accordion-inner
					.row
						.span5
							%p
								= t(:'applications.admission.new.file_help_html', :link => download_sample_cabinet_admission_apps_path)
								%span{:style => "margin-left: 8px;"}
									= link_to download_sample_cabinet_admission_apps_path do
										%i.icon-file
										Скачать бланк
						.span6
							= f.input :file, :as => :file
							- unless f.object.file.blank?
								= f.input :remove_file, :as => :boolean




	.form-actions	
		= button_tag :submit, :class => 'btn btn-large' do
			= t(:'applications.admission.new.submit')
