= form_for admission_app, :url => ( admission_app.new_record? ? cabinet_admission_apps_path : cabinet_admission_app_path(admission_app) ), :html => { :class => 'form-horizontal', :multipart => true } do |f|
	= render :partial => 'shared/form_errors', :locals => { :object => admission_app }
	
	.row
		.span6
			.control-group
				= f.label :barcode, :class => 'control-label'
				.controls
					= f.text_field :barcode, :placeholder => 'bar code'
			.control-group
				= f.label :expected_date, :class => 'control-label'
				.controls
					.datetimepicker.input-append
						= f.text_field :expected_date, "data-format" => "yyyy-MM-dd hh:mm:ss", :style => 'width: 179px;'
						%span.add-on{ :style => 'margin-top: 5px; cursor: pointer;'}
							%i.icon-time{"data-date-icon" => "icon-calendar", "data-time-icon" => "icon-time"}

			.control-group
				= f.label :notes, :class => 'control-label'
				.controls
					= f.text_field :notes
			.control-group
				= f.label :vehicle, :class => 'control-label'
				.controls
					= f.text_field :vehicle
			.control-group
				= f.label :cargo_name, :class => 'control-label'
				.controls
					= f.text_field :cargo_name
			.control-group
				= f.label :code_number, :class => 'control-label'
				.controls
					= f.text_field :code_number
		.span6
			.control-group
				= f.label :unit_id, t(:"applications.unit_types.label"), :class => 'control-label'
				.controls
					= f.select :unit_id, AdmissionApp::UNITS.collect{|u| [t(:"applications.unit_types.#{u}"), AdmissionApp::UNITS.index(u)]}, :prompt => '---'
			.control-group
				= f.label :unit_count, :class => 'control-label'
				.controls
					= f.number_field :unit_count, :class => 'span1'
			.control-group
				= f.label :in_box_count, :class => 'control-label'
				.controls
					= f.number_field :in_box_count, :class => 'span1'
			.control-group
				= f.label :box_count, :class => 'control-label'
				.controls
					= f.number_field :box_count, :class => 'span1'
			.control-group
				= f.label :additional_info, :class => 'control-label'
				.controls
					= f.text_area :additional_info, :rows => 5

	.form-actions
		= f.submit "Save App", :class => 'btn btn-success'
