.content
	.container
		.row
			.span12
				%h4= t(:'applications.admission.index.title')
				%hr/
				- unless admission_apps.blank?
					%table.table.table-condensed.table-hover
						%thead
							%tr
								%th #
								%th= t(:'applications.admission.index.created_at')
								%th= t(:'applications.admission.index.adm_date')
								%th= t(:'applications.admission.index.adm_time')
								%th= t(:'applications.admission.index.items_count')
								%th= t(:'applications.admission.index.vehicle')
								%th= t(:'applications.admission.index.actions')
						%tbody
							- admission_apps.each do |app|
								%tr
									%td= app.id
									%td= l app.created_at, :format => :short
									%td= l app.admission_date, :format => :short
									%td= app.admission_time.strftime("%H:%M") 
									%td= app.admission_items.count
									%td= app.vehicle
									%td
										- if can? [:edit, :destroy], ReleaseApp
											= link_to cabinet_admission_app_path(app), :method => :delete, :confirm => '???' do
												%i.icon-trash
												= t(:'actions.delete')
											&nbsp;
											= link_to edit_cabinet_admission_app_path(app) do
												%i.icon-pencil
												= t(:'actions.edit')
										- else
											= link_to '#', :class => 'link-tooltip', :title => t(:"applications.admission.tooltips.not_permitted") do
												%i.icon-lock
				- else
					= t(:'applications.admission.index.no_apps_yet')

				.button
					= link_to new_cabinet_admission_app_path do
						= t(:'applications.admission.index.create')




