.content
	.container
		.row
			.span8
				%h4
					= t(:'applications.admission.show.title')
					\##{admission_app.id}
				%br/
				%table.table.table-condensed.table-hover
					%tbody
						%tr
							%th= t(:'applications.admission.show.id')
							%td #{admission_app.id}
						%tr
							%th= t(:'applications.admission.index.created_at')
							%td
								= l admission_app.created_at, :format => :short
								(#{time_ago_in_words admission_app.created_at} #{t(:'most_common.ago')})
						%tr
							%th= t(:'applications.admission.index.adm_date')
							%td= l admission_app.admission_date, :format => :long
						%tr
							%th= t(:'applications.admission.index.adm_time')
							%td= admission_app.admission_time.strftime("%H:%M")
						%tr
							%th= t(:'applications.admission.show.notes')
							%td= admission_app.notes
						%tr
							%th= t(:'applications.admission.show.vehicle')
							%td= admission_app.vehicle
				%hr/
				%b
					= t(:'applications.admission.show.items_count')
					\:
				= admission_app.admission_items.count
				/ - for item in admission_app.admission_items do
				/ 	= item
			.span4
				.sidebar
					.widget
						%h4= t(:'cabinet.my_admission_apps')
						%ul
							- current_user.admission_apps.each do |app|
								%li= link_to (l admission_app.admission_date, :format => :long) + " (##{app.id})", cabinet_admission_app_path(app), :style => ('font-weight:bold;' if app == admission_app)