.widget
	%h4= t(:'cabinet.news')			
	- news_items.each do |item|
		%h6.color
			= item.title
		%span
			%i
				= item.created_at.strftime("%m/%d/%Y | %H:%M")
				%span.muted (#{time_ago_in_words item.created_at} #{t(:'most_common.ago')})
		%p= item.body