.mainbar
	.page-head
		%h2.pull-left
			%i.icon-flag
			= t(:'admin.release_apps.index.title')
		.clearfix
	.matter
		.container-fluid
			.controls.controls-row
				/ Some controls
			.row-fluid
				.span12
					.widget
						.widget-head
							= link_to admin_release_apps_path(:state => :pending) do
								В ожидании
								(#{ReleaseApp.with_state(:pending).count})
							|
							= link_to admin_release_apps_path(:state => :processing) do
								В обработке
								(#{ReleaseApp.with_state(:processing).count})
							|
							= link_to admin_release_apps_path(:state => :completed) do
								Завершено
								(#{ReleaseApp.with_state(:completed).count})
							|
							= link_to admin_release_apps_path(:state => :stoped) do
								Остановлено
								(#{ReleaseApp.with_state(:stoped).count})
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
						.widget-content
							%table.table.table-striped.table-bordered.table-hover
								%thead
									%tr
										%th= t(:"most_common.id")
										%th= t(:"most_common.date")
										%th= t(:"most_common.client")
										%th= t(:"most_common.status")
										%th= t(:"most_common.actions")
								%tbody
									- collection.each do |app|
										%tr
											%td
												%h5
													- if app.file.blank?
														= link_to admin_release_app_path(app, format: "xlsx") do
															= app.id
															%i.icon-download
													- else
														= link_to app.file_url do
															= app.id
															%i.icon-download
															%i.icon-file
											%td #{l app.release_date, :format => :long}
											%td
												= app.user.profile.name
											%td
												.btn-group
													%button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown", :class => if app.processing? then "btn-info" elsif app.completed? then "btn-success" elsif app.stoped? then "btn-danger" end }
														= app.human_state_name
														%span.icon-cog
													%ul.dropdown-menu
														- if app.can_process_app?
															%li
																= link_to process_app_admin_release_app_path(app), :style => 'color: #2f96b4', :confirm => 'Обработать заявку?' do
																	%i.icon-play
																	Обработка
														- if app.can_complete_app?
															%li
																= link_to complete_app_admin_release_app_path(app), :style => 'color: green', :confirm => 'Завершить заявку?' do
																	%i.icon-check
																	Завершить
														- if app.can_stop_app?
															%li
																= link_to stop_app_admin_release_app_path(app), :style => 'color: #b94a48', :confirm => 'Завершить заявку?' do
																	%i.icon-ban-circle
																	Остановить

											%td
												.btn-group
													= link_to edit_admin_release_app_path(app), :class => 'btn btn-mini' do
														%i.icon-pencil
													= link_to admin_release_app_path(app), :method => :delete, :confirm => '???', :class => 'btn btn-mini' do
														%i.icon-remove
												.clearfix
							.widget-foot
								= paginate collection
								.clearfix
.clearfix

