= form_for user, :url => ( user.new_record? ? admin_users_path : admin_user_path(user) ), :html => { :class => 'form-horizontal', :multipart => true } do |f|
	= render :partial => 'shared/form_errors', :locals => { :object => user }
	.row-fluid
		.span6
			= render 'admin/users/widgets/main', :f => f	
			= render 'admin/users/widgets/profile', :f => f
		.span6
			= render 'admin/users/widgets/tariffs', :f => f
	.widget.form-actions
		= f.submit t(:"actions.save"), :class => 'btn btn-success btn-large	'
