= render 'admin/shared/sidebar'
.mainbar

	.page-head
		%h2.pull-left
			%i.icon-table
			= t(:'admin.users.index.title')
		-#.bread-crumb.pull-right
			= link_to admin_dashboard_path do
				%i.icon-home
				Home
			%span.divider /
			%a.bread-current{:href => "#"} Users
			
		.clearfix

	.matter
		.container-fluid
			.controls.controls-row
				= render :partial => 'search_form'
			.row-fluid
				.span12
					.widget
						.widget-head
							&nbsp;
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
								%a.wclose{:href => "#"}
									%i.icon-remove
						.widget-content
							%table.table.table-striped.table-bordered.table-hover
								%thead
									%tr
										%th #
										%th Email
										%th= t(:'admin.users.index.name')
										%th= t(:'admin.users.index.personal_id')
										%th= t(:'admin.users.index.is_confirmed')
										%th= t(:'admin.users.index.role')
										%th= t(:'admin.users.index.actions')
								%tbody
									- users.each do |u|
										%tr
											%td
												= u.id
											%td
												= "#{u.email}"
												|
												= link_to 'Отчеты', admin_user_reports_path(u)
											%td
												= "#{u.profile.name}"
											%td
												= "#{u.profile.personal_id}"
											%td
												- if u.confirmed?
													%span{:style => 'color: green'}
														%i.icon-circle
												- else
													= link_to confirm_admin_user_path(u), :style => 'color: red', :confirm => 'Confirm this user?' do
														%i.icon-circle-blank
											%td
												- if u.role? :admin
													%span.label.label-success
														= "#{u.role}"
												- elsif u.role? :director
													%span.label.label-info
														= "#{u.role}"
												- elsif u.role? :manager
													%span.label.label-warning
														= "#{u.role}"
												- else
													%span.label
														= "#{u.role}"
											%td
												- if can? :edit || :destroy, u
													- if can? :edit, u
														= link_to edit_admin_user_path(u) do
															%i.icon-pencil
															Edit
														%span.muted
													- if can? :destroy, u
														= link_to admin_user_path(u), :method => :delete, :confirm => "Are you sure?" do
															%i.icon-trash
															Delete
												- else	
													%i.icon-lock
													Locked

								
							.widget-foot
								= paginate users
								.clearfix
.clearfix