= render 'admin/shared/sidebar'
.mainbar

	.page-head
		%h2.pull-left
			%i.icon-table
			= t(:'admin.users.index.title')
		-#.bread-crumb.pull-right
			= link_to admin_dashboard_path do
				%i.icon-home
				Home
			%span.divider /
			%a.bread-current{:href => "#"} Users
		.clearfix
	.matter
		.container-fluid
			.controls.controls-row
				= render :partial => 'search_form'
			.row-fluid
				.span12
					.widget
						.widget-head
							&nbsp;
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
								%a.wclose{:href => "#"}
									%i.icon-remove
						.widget-content
							%table.table.table-striped.table-bordered.table-hover
								%thead
									%tr
										%th #
										%th Email
										%th= t(:'admin.users.index.name')
										%th= t(:'admin.users.index.personal_id')
										%th= t(:'admin.users.index.is_confirmed')
										%th= t(:'admin.users.index.role')
										%th= t(:'admin.users.index.actions')
								%tbody
									- users.each do |u|
										/ %tr{:class => ("suspended" if u.suspended?)} 
										%tr 
											%td
												= u.id
											%td
												%span{:class => (if u.debtor? then "label label-warning" elsif u.suspended? then "label label-important" end)}
													= "#{u.email}"
												.btn-group
													%button.btn.btn-mini.dropdown-toggle{"data-toggle" => "dropdown"}
														%span.icon-cog
													%ul.dropdown-menu
														%li
															%a{:href => "#"}
																- if u.staffs.exists?
																	%i.icon-group
																	= u.staffs.count
																	&nbsp;
																- if u.admission_apps.exists?
																	%i.icon-download-alt
																	= u.admission_apps.count
																	&nbsp;
																- if u.release_apps.exists?
																	%i.icon-upload-alt
																	= u.release_apps.count
														%li.divider
														%li
															= link_to admin_user_reports_path(u) do
																%i.icon-bar-chart
																Отчеты
														%li.divider
														- unless u.suspended? || u.debtor?
															%li
																= link_to owes_money_admin_user_path(u), :confirm => 'Предупреждать клиента от его задолженности?' do
																	%i.icon-money
																	Должник!
														- else
															%li
																= link_to no_debt_admin_user_path(u), :style => 'color: #468847', :confirm => 'Не предупреждать о задолженности клиента?' do
																	%i.icon-unlock
																	Долг погашен!
															- unless u.suspended? 
																%li
																	= link_to suspend_admin_user_path(u), :style => 'color: #b94a48', :confirm => 'Приостановить обслуживание клиента?' do
																		%i.icon-lock
																		Приостановить!




														%li.divider
														- if can? :edit, u
															%li
																= link_to edit_admin_user_path(u) do
																	%i.icon-pencil
																	= t(:'most_common.edit')
																%span.muted


														
											%td
												= "#{u.profile.name}"
											%td
												= "#{u.profile.personal_id}"
											%td
												- if u.confirmed?
													%span{:style => 'color: green'}
														%i.icon-circle
												- else
													= link_to confirm_admin_user_path(u), :style => 'color: red', :confirm => 'Confirm this user?' do
														%i.icon-circle-blank
											%td
												- if u.role? :admin
													%span.label.label-success
														= "#{u.role}"
												- elsif u.role? :director
													%span.label.label-info
														= "#{u.role}"
												- elsif u.role? :manager
													%span.label.label-warning
														= "#{u.role}"
												- else
													%span.label
														= "#{u.role}"
											%td
												- if can? :edit || :destroy, u
													- if can? :edit, u
														= link_to edit_admin_user_path(u) do
															%i.icon-pencil
															= t(:'most_common.edit')
														%span.muted
													- if can? :destroy, u
														= link_to admin_user_path(u), :method => :delete, :confirm => "Are you sure?" do
															%i.icon-trash
															= t(:'most_common.destroy')
												- else	
													%i.icon-lock
													Locked

								
							.widget-foot
								= paginate users
								.clearfix
.clearfix