Новая заявка ##{@app.id} на прием груза (#{@app.user.profile.name})
\==========================================
\
Дата заполнения: #{l @app.created_at, :format => :short}
\
- if @app.file_url.blank?  
	Количество позиций: #{@app.admission_items.count.to_s}
- else
	Заявка подана в виде загружаемого файла.
\
Менеджер: #{@app.staff.present? ? @app.staff.name + " (" + @app.staff.email + ")" : "не указан"}
\-----------------------------------------------------------
\
Это письмо сгенерировано автоматически, не отвечайте на него.