/ Header starts
%header
	.container-fluid
		.row-fluid
			/ Logo section
			.span4
				/ Logo.
				.logo
					%h1
						= link_to admin_path do
							YARTRANS admin
					%p.meta we rock every our client!
				/ Logo ends
			/ Button section
			.span4
				/ Buttons
				%ul.nav.nav-pills
					/ Comment button with number of latest comments count
					%li.dropdown.dropdown-big
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
							%i.icon-comments
							Chats
							%span.badge.badge-info 6
						%ul.dropdown-menu
							%li
								/ Heading - h5
								%h5
									%i.icon-comments
									Chats
								/ Use hr tag to add border
								%hr/
							%li
								/ List item heading h6
								%h6
									%a{:href => "#"} Hi :)
									%span.label.label-warning.pull-right 10:42
								.clearfix
								%hr/
							%li
								%h6
									%a{:href => "#"} How are you?
									%span.label.label-warning.pull-right 20:42
								.clearfix
								%hr/
							%li
								%h6
									%a{:href => "#"} What are you doing?
									%span.label.label-warning.pull-right 14:42
								.clearfix
								%hr/
							%li
								.drop-foot
									%a{:href => "#"} View All
					/ Message button with number of latest messages count
					%li.dropdown.dropdown-big
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
							%i.icon-envelope-alt
							Inbox
							%span.badge.badge-important 6
						%ul.dropdown-menu
							%li
								/ Heading - h5
								%h5
									%i.icon-envelope-alt
									Messages
								/ Use hr tag to add border
								%hr/
							%li
								/ List item heading h6
								%h6
									%a{:href => "#"} Hello how are you?
								/ List item para
								%p Quisque eu consectetur erat eget  semper...
								%hr/
							%li
								%h6
									%a{:href => "#"} Today is wonderful?
								%p Quisque eu consectetur erat eget  semper...
								%hr/
							%li
								.drop-foot
									%a{:href => "#"} View All
					/ Members button with number of latest members count
					%li.dropdown.dropdown-big
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
							%i.icon-user
							Users
							%span.badge.badge-success 6
						%ul.dropdown-menu
							%li
								/ Heading - h5
								%h5
									%i.icon-user
									Users
								/ Use hr tag to add border
								%hr/
							%li
								/ List item heading h6
								%h6
									%a{:href => "#"} Ravi Kumar
									%span.label.label-warning.pull-right Free
								.clearfix
								%hr/
							%li
								%h6
									%a{:href => "#"} Balaji
									%span.label.label-important.pull-right Premium
								.clearfix
								%hr/
							%li
								%h6
									%a{:href => "#"} Kumarasamy
									%span.label.label-warning.pull-right Free
								.clearfix
								%hr/
							%li
								.drop-foot
									%a{:href => "#"} View All
			/ Data section
			.span4
				.header-data
					/ Traffic data
					.hdata
						.mcol-left
							/ Icon with red background
							%i.icon-signal.bred
						.mcol-right
							/ Number of logins
							%p
								%a{:href => "#"}
									- @logins = 0
									- User.find_each do |u|
										- @logins += u.sign_in_count
									= @logins
								%em logins
						.clearfix
					/ Members data
					.hdata
						.mcol-left
							/ Icon with blue background
							= link_to admin_users_path do
								%i.icon-user.bblue
						.mcol-right
							/ Number of visitors
							%p
								= link_to admin_users_path do
									= User.all.count
								%em users
						.clearfix
					/ revenue data
					.hdata
						.mcol-left
							/ Icon with green background
							%i.icon-money.bgreen
						.mcol-right
							/ Number of visitors
							%p
								%a{:href => "#"} 0
								%em orders
						.clearfix
/ Header ends