/ Header starts
%header
	.container-fluid
		.row-fluid
			/ Logo section
			.span3
				/ Logo.
				/ .logo
				= link_to admin_path do
					= image_tag 'img/top-logo.png'
				/ Logo ends
			/ Button section
			.span7
				/ Buttons
				%ul.nav.nav-pills
					/ Comment button with number of latest comments count
					%li.dropdown.dropdown-big
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :style => 'padding: 10px;'}
							%i.icon-flag
							= t(:'admin.quick_menu.news.title')
							/ %span.badge.badge-info= news_items.count
						%ul.dropdown-menu
							%li
								/ Heading - h5
								%h5
									%i.icon-flag
									= t(:'admin.quick_menu.news.title')
								/ Use hr tag to add border
								%hr/
							
							- for item in news_items do
								%li
									%span.label.label-info
										= l item.created_at, :format => :long
									%h6
										= link_to item.title.truncate(40), admin_news_item_path(item)
									.clearfix
									%hr/
							
							%li
								.drop-foot
									= link_to t(:'admin.quick_menu.news.show_all'), admin_news_items_path
									|
									= link_to new_admin_news_item_path do
										%i.icon-pencil
										= t(:'admin.quick_menu.news.create')
					
					%li.dropdown.dropdown-big
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
							%i.icon-envelope-alt
							= t(:'admin.menu.messages')
							- unless current_user.mailbox.inbox({:read => false}).count == 0
								%span.badge.badge-warning= current_user.mailbox.inbox({:read => false}).count
							- else
								%span.badge 0
						
						%ul.dropdown-menu
							- unless current_user.mailbox.inbox({:read => false}).count == 0
								%li
									/ Heading - h5
									%h5
										%i.icon-envelope-alt
										= t(:'admin.quick_menu.msg.unread')
									/ Use hr tag to add border
									%hr/
								- for conversation in current_user.mailbox.inbox({:read => false}) do
									%li
										%h6
											= link_to conversation.subject, admin_mailbox_message_path(conversation)
										%p
											= conversation.last_message.body.truncate(100)
										%p
											%i.icon-user
											= conversation.last_message.sender
										%hr/
							- else
								%li
								%h5= t(:'admin.quick_menu.msg.no_msgs')
								%hr/
							%li
								.drop-foot
									= link_to t(:'admin.quick_menu.msg.show_all'), admin_mailbox_messages_path
									|
									= link_to new_admin_mailbox_message_path do
										%i.icon-pencil
										= t(:'admin.quick_menu.msg.create')
					


					%li.dropdown.dropdown-big
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#", :style => 'padding: 10px;'}
							%i.icon-user
							= t(:'admin.quick_menu.users.title')
						%ul.dropdown-menu
							%li
								/ Heading - h5
								%h5
									%i.icon-user
									= t(:'admin.quick_menu.users.title')
								/ Use hr tag to add border
								%hr/
							%li
								.drop-foot
									= link_to t(:'admin.quick_menu.users.show_all'), admin_users_path
									|
									= link_to new_admin_user_path do
										%i.icon-pencil
										= t(:'admin.quick_menu.users.create')
					%li.dropdown.dropdown-big
						= link_to admin_admission_apps_path, :class => 'active' do
							На прием
							%span.badge.badge-warning #{admission_apps_count}
					%li.dropdown.dropdown-big
						= link_to admin_release_apps_path do
							На выдачу
							%span.badge.badge-success #{release_apps_count}
			