/ Main bar
.mainbar
	/ Page heading
	.page-head
		%h2.pull-left
			%i.icon-home
			Dashboard
		/ Breadcrumb
		.bread-crumb.pull-right
			%a{:href => "index.html"}
				%i.icon-home
				Home
			/ Divider
			%span.divider /
			%a.bread-current{:href => "#"} Dashboard
		.clearfix
	/ Page heading ends
	/ Matter
	.matter
		.container-fluid
			/ Today status. jQuery Sparkline plugin used.
			.row-fluid
				.span12
					/ List starts
					%ul.today-datas
						/ List #1
						%li
							/ Graph
							%div
								%span#todayspark1.spark
							/ Text
							.datas-text 12,000 visitors/day
						%li
							%div
								%span#todayspark2.spark
							.datas-text 30,000 Pageviews
						%li
							%div
								%span#todayspark3.spark
							.datas-text 15.66% Bounce Rate
						%li
							%div
								%span#todayspark4.spark
							.datas-text $12,000 Revenue/Day
						%li
							%div
								%span#todayspark5.spark
							.datas-text 15,000000 visitors till date
			/ Today status ends
			/ Dashboard Graph starts
			.row-fluid
				.span8
					/ Widget
					.widget
						/ Widget head
						.widget-head
							Dashboard
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
								%a.wclose{:href => "#"}
									%i.icon-remove
						/ Widget content
						.widget-content
							.padd
								-#- for a in activity_feeds do
									.alert.alert-success.fade.in
										= link_to 'x', admin_activity_feed_path(a), :method => :delete, :class => 'close', "data-dismiss" => "alert"
										%b= User.find(a.record_id).profile.name
										(#{User.find(a.record_id).profile.personal_id})
										was updated by
										%b= User.find(a.user_id).email
										= time_ago_in_words a.created_at
										ago

						/ Widget ends
				.span4
					.widget
						.widget-head
							Today Status
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
								%a.wclose{:href => "#"}
									%i.icon-remove
						.widget-content
							.padd
								/ Visitors, pageview, bounce rate, etc., Sparklines plugin used
								%ul.current-status
									%li
										%span#status1
										%span.bold Visits : 2000
									%li
										%span#status2
										%span.bold Unique Visitors : 1,345
									%li
										%span#status3
										%span.bold Pageviews : 2000
									%li
										%span#status4
										%span.bold Pages / Visit : 2000
									%li
										%span#status5
										%span.bold Avg. Visit Duration : 2000
									%li
										%span#status6
										%span.bold Bounce Rate : 2000
									%li
										%span#status7
										%span.bold % New Visits : 2000
			/ Dashboard graph ends
			/ Chats, File upload and Recent Comments
			.row-fluid
				.span4
					/ Widget
					.widget
						/ Widget title
						.widget-head
							Chats
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
								%a.wclose{:href => "#"}
									%i.icon-remove
						.widget-content
							/ Widget content
							.padd
								%ul.chats
									/ Chat by us. Use the class "by-me".
									%li.by-me
										/ Use the class "pull-left" in avatar
										.avatar.pull-left
											%img{:alt => "", :src => "img/user.jpg"}/
										.chat-content
											/ In meta area, first include "name" and then "time"
											.chat-meta
												Ashok
												%span.pull-right 3 hours ago
											Vivamus diam elit diam, consectetur dapibus adipiscing elit.
											.clearfix
									/ Chat by other. Use the class "by-other".
									%li.by-other
										/ Use the class "pull-right" in avatar
										.avatar.pull-right
											%img{:alt => "", :src => "img/user.jpg"}/
										.chat-content
											/ In the chat meta, first include "time" then "name"
											.chat-meta
												3 hours ago
												%span.pull-right Ravi
											Vivamus diam elit diam, consectetur fconsectetur dapibus adipiscing elit.
											.clearfix
									%li.by-me
										.avatar.pull-left
											%img{:alt => "", :src => "img/user.jpg"}/
										.chat-content
											.chat-meta
												Ashok
												%span.pull-right 4 hours ago
											Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
											.clearfix
									%li.by-other
										/ Use the class "pull-right" in avatar
										.avatar.pull-right
											%img{:alt => "", :src => "img/user.jpg"}/
										.chat-content
											/ In the chat meta, first include "time" then "name"
											.chat-meta
												3 hours ago
												%span.pull-right Ravi
											Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
											.clearfix
							/ Widget footer
							.widget-foot
								%form.form-inline
									%input.input-medium{:placeholder => "Type your message here...", :type => "text"}/
									%button.btn{:type => "submit"} Send
				/ File Upload widget
				.span4
					.widget
						/ Widget title
						.widget-head
							File Upload
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
								%a.wclose{:href => "#"}
									%i.icon-remove
						.widget-content
							/ Widget content
							%ul.file-upload
								%li
									%strong
										%i.icon-upload-alt
										File_Name_Here.Mp3
									.file-meta 3.3 of 5MB - 5 mins - 1MB/Sec
									.progress.progress-animated.striped
										.bar.bar-success{"data-percentage" => "100"}
								%li
									%strong
										%i.icon-ok
										Third_File_Here.Mp3
									.file-meta 5MB - 5 mins - Stopped
								%li
									%strong
										%i.icon-ok
										Third_File_Here.Mp3
									.file-meta 5MB - 5 mins - Stopped
							.widget-foot
					.widget
						/ Widget title
						.widget-head
							Browsers
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
								%a.wclose{:href => "#"}
									%i.icon-remove
						.widget-content.referrer
							/ Widget content
							%table.table.table-striped.table-bordered.table-hover
								%tr
									%th
										%center #
									%th Browsers
									%th Visits
								%tr
									%td
										%img{:alt => "", :src => "img/icons/chrome.png"}/
									%td Google Chrome
									%td 3,005
								%tr
									%td
										%img{:alt => "", :src => "img/icons/firefox.png"}/
									%td Mozilla Firefox
									%td 2,505
								%tr
									%td
										%img{:alt => "", :src => "img/icons/ie.png"}/
									%td Internet Explorer
									%td 1,405
								%tr
									%td
										%img{:alt => "", :src => "img/icons/opera.png"}/
									%td Opera
									%td 4,005
								%tr
									%td
										%img{:alt => "", :src => "img/icons/safari.png"}/
									%td Safari
									%td 505
							.widget-foot
				.span4
					/ Widget
					.widget
						/ Widget title
						.widget-head
							Recent Comments
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
								%a.wclose{:href => "#"}
									%i.icon-remove
						.widget-content
							/ Widget content
							.padd
								%ul.recent
									%li
										.recent-content
											.recent-meta Posted on 25/1/2120 by Ashok
											%div
												Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
											.btn-group
												%button.btn.btn-mini
													%i.icon-ok
												%button.btn.btn-mini
													%i.icon-pencil
												%button.btn.btn-mini
													%i.icon-remove
											%button.btn.btn-mini.btn-danger.pull-right Spam
											.clearfix
									%li
										.recent-content
											.recent-meta Posted on 25/1/2120 by Ashok
											%div
												Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
											.btn-group
												%button.btn.btn-mini
													%i.icon-ok
												%button.btn.btn-mini
													%i.icon-pencil
												%button.btn.btn-mini
													%i.icon-remove
											%button.btn.btn-mini.btn-danger.pull-right Spam
											.clearfix
									%li
										.recent-content
											.recent-meta Posted on 25/1/2120 by Ashok
											%div
												Vivamus diam elit diam, consectetur fermentum sed dapibus eget, Vivamus consectetur dapibus adipiscing elit.
											.btn-group
												%button.btn.btn-mini
													%i.icon-ok
												%button.btn.btn-mini
													%i.icon-pencil
												%button.btn.btn-mini
													%i.icon-remove
											%button.btn.btn-mini.btn-danger.pull-right Spam
											.clearfix
							/ Widget footer
							.widget-foot
								.pagination.pull-right
									%ul
										%li
											%a{:href => "#"} Prev
										%li
											%a{:href => "#"} 1
										%li
											%a{:href => "#"} 2
										%li
											%a{:href => "#"} 3
										%li
											%a{:href => "#"} 4
										%li
											%a{:href => "#"} Next
								.clearfix
			.row-fluid
				.span6
					.widget.wblack
						.widget-head
							Black Chart
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
								%a.wclose{:href => "#"}
									%i.icon-remove
						.widget-content
							.padd
								#bar-chart
							.widget-foot
								/ Footer goes here
				.span6
					.widget
						.widget-head
							Quick Post
							.widget-icons.pull-right
								%a.wminimize{:href => "#"}
									%i.icon-chevron-up
								%a.wclose{:href => "#"}
									%i.icon-remove
						.widget-content
							.padd
								.form.quick-post
									/ Edit profile form (not working)
									%form.form-horizontal
										/ Title
										.control-group
											%label.control-label{:for => "title"} Title
											.controls
												%input#title.input-large{:type => "text"}/
										/ Content
										.control-group
											%label.control-label{:for => "content"} Content
											.controls
												%textarea#content.input-large
										/ Cateogry
										.control-group
											%label.control-label Category
											.controls
												%select
													%option{:value => ""} - Choose Cateogry -
													%option{:value => "1"} General
													%option{:value => "2"} News
													%option{:value => "3"} Media
													%option{:value => "4"} Funny
										/ Tags
										.control-group
											%label.control-label{:for => "tags"} Tags
											.controls
												%input#tags.input-large{:type => "text"}/
										/ Buttons
										.form-actions
											/ Buttons
											%button.btn.btn-info{:type => "submit"} Publish
											%button.btn{:type => "submit"} Save Draft
											%button.btn{:type => "reset"} Reset
							.widget-foot
								/ Footer goes here
	/ Matter ends
/ Mainbar ends
.clearfix
/ Content ends
