.navbar.navbar-fixed-top
	.navbar-inner
		.container
			/ Menu button for smallar screens
			%a.btn.btn-navbar{"data-target" => ".nav-collapse", "data-toggle" => "collapse"}
				%i.icon-plus-sign{:style => 'font-size:14px;'}
			/ Site name for smallar screens
			= link_to admin_path, :class => "brand hidden-desktop" do
				= t(:'admin.title')
			/ Navigation starts
			.nav-collapse.collapse
				%ul.nav
					%li
						= link_to root_url do
							%i.icon-home
							= t(:'admin.menu.main_site')
				
				/ Links
				
				%ul.nav.pull-right
					%li.dropdown.pull-right
						%a.dropdown-toggle{"data-toggle" => "dropdown", :href => "#"}
							%i.icon-user
							= current_user.email
							%b.caret
						/ Dropdown menu
						%ul.dropdown-menu
							%li
								= link_to admin_user_path(current_user) do
									%i.icon-user
									= t(:'admin.menu.my_profile')
							%li
								= link_to destroy_user_session_path, :method => :delete do
									%i.icon-off
									= t(:'admin.menu.logout')